.login-container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .bg{
    width: 100%;
    height: 100%;
    filter: blur(5px);
  }

  .login-content{
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;

    .login-form {
      max-width: 300px;
      height: 200px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
}
