<div class="slide-nav">
  <div  style="width: 200px;">
    <ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
      <li nz-submenu nzOpen="{{first.open}}" *ngFor="let first of webNav">
          <span title>
            <i class="anticon anticon-video-camera"></i>
            <span>{{first.title}}</span>
          </span>
        <ul>
          <li nz-menu-item nzSelected="{{secound.value===currentNav}}" *ngFor="let secound of first.children"><a (click)="goTo(secound)">{{secound.title}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
