.img-crop-wrapper{
  width: 600px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 0 3px #ccc;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  background: #f3f3f3;
}
