$red: #fa5c4f;
$blue: #21c5e6;
$white: #fff;
.web-header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background: $red;

  .logo{
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    font-size: 24px;
    color: $white;
  }

  .user-center{
    position: absolute;
    right: 0;
    top: 0;

    .ant-dropdown-link{
      height: 60px;
      margin: 0 25px;
      display: flex;
      align-items: center;
    }
    .name{
      padding-right: 5px;
    }
    p{
      color: $white;
    }
  }
}
