<div class="web-header">
  <div class="logo" id="logo">
    <i class="anticon anticon-dingding"></i>
    <i class="anticon anticon-apple"></i>
    <i class="anticon anticon-github"></i>
    <i class="anticon anticon-chrome"></i>
    <!--<i class="anticon anticon-apple"></i>-->
  </div>
  <!--<div class="user-center">-->
    <!--<nz-dropdown>-->
      <!--<p class="ant-dropdown-link" nz-dropdown>-->
        <!--<span class="name">lyw66</span>-->
        <!--<nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>-->
      <!--</p>-->
      <!--<ul nz-menu>-->
        <!--<li nz-menu-item>-->
          <!--<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">修改密码</a>-->
        <!--</li>-->
        <!--<li nz-menu-item>-->
          <!--<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">修改头像</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nz-dropdown>-->
  <!--</div>-->
</div>
